.a-gallery {}
  .a-gallery--data {
    max-height: calc(5 * 2em + 0.5em);
  }
  .a-gallery--table {
    border-collapse: collapse;
    display: block;
    margin: -0.5em;
  }
  .a-gallery--table td {
    padding: 0.5em;
    text-align: right;
    white-space: nowrap;
  }
  .a-gallery--table th {
    padding: 0.5em;
    text-align: left;
    width: 100%;
  }
  .a-gallery--table tr {
    transition: opacity 0.25s ease;
  }
  .a-gallery--table:focus-within tr,
  .a-gallery--table:hover tr {
    opacity: 0.333;
  }
  .a-gallery--table:focus-within tr:focus,
  .a-gallery--table:hover tr:hover {
    opacity: 1;
  }
