.a-gallery {}
  .a-gallery--item {
    transition: opacity 0.5s ease;
  }
  .a-gallery--item + .a-gallery--item {
    margin-top: 1em;
  }
  .a-gallery--items {
    list-style-type: none;
    max-height: calc(4 * 3.25em + 0.5em);
  }
  .a-gallery--items:focus-within .a-gallery--item,
  .a-gallery--items:hover .a-gallery--item {
    opacity: 0.5;
  }
  .a-gallery--items:focus-within .a-gallery--item:focus-within,
  .a-gallery--items:hover .a-gallery--item:hover {
    opacity: 1;
  }
