.a-graphics--fields {
  max-height: calc(4 * 4em - 1em);
  overflow-y: auto;
  padding-right: 1em;
  scroll-behavior: smooth;
}
.a-graphics--onFields {
  filter: grayscale(0);
  opacity: 1;
  transition: all 0.5s ease;
  transition-property: filter, opacity;
}
.a-graphics--onFields[aria-hidden] {
  filter: grayscale(1);
  opacity: 0.25;
  pointer-events: none;
}
