.a-splash {
  align-items: center;
  text-align: center;
}
  .a-splash--instruction {
    animation: a-splash--instruction 1s ease-in-out 0s infinite alternate both;
    display: inline-block;
    flex: 0 0 auto;
    padding: 0.5em 0.75em;
    text-transform: uppercase;
    transform: translateY(100%);
    transition: transform 1s ease-out;
  }
    .a-app--screen-active .a-splash--instruction {
      transform: translateY(0%);
    }
  .a-splash--logo {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    letter-spacing: 0;
  }
  .a-splash--row {
    color: #FFFFFF;
    display: flex;
    font-family: FiraMonoRegular, monospace;
    justify-content: space-between;
  }
  .a-splash--title {
    animation: a-splash--title 4s ease-in-out 0s infinite alternate;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    background-position: center bottom;
    font-family: SuperSubmarineHalf, sans-serif;
    font-size: 8em;
    line-height: 0.875;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }

@keyframes a-splash--instruction {
  0% {
   background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    background-color: rgba(0, 0, 0, 1);
  }
}

@keyframes a-splash--title {
  0% {
    background-size: 87.5% 87.5%;
  }
  100% {
    background-size: 125% 125%;
  }
}

@media (min-width: 48em) {
  .a-splash--title {
    font-size: 12em;
  }
}

@media (prefers-reduced-motion: reduce) {
  .a-splash--instruction {
    transition: none;
  }
}
