.a-status {}
  .a-status--data {
    list-style-type: none;
    max-height: calc(2em * 5 + 0.5em);
  }
  .a-status--table {
    border-collapse: collapse;
    display: block;
    margin: -0.5em;
  }
  .a-status--table td {
    padding: 0.5em;
    text-align: right;
    white-space: nowrap;
  }
  .a-status--table th {
    padding: 0.25em;
    text-align: left;
    width: 100%;
  }
  .a-status--table tr {
    transition: opacity 0.5s ease;
  }
  .a-status--table:focus-within tr,
  .a-status--table:hover tr {
    opacity: 0.5;
  }
  .a-status--table:focus-within tr:focus,
  .a-status--table:hover tr:hover {
    opacity: 1;
  }
