@font-face {
  font-family: FiraMonoRegular;
  font-style: normal;
  font-weight: 400;
  src: url('font/firamono-regular.woff') format('woff');
}
@font-face {
  font-family: RobotoBold;
  font-style: normal;
  font-weight: 700;
  src: url('font/roboto-bold.woff') format('woff');
}
@font-face {
  font-family: RobotoLight;
  font-style: normal;
  font-weight: 300;
  src: url('font/roboto-light.woff') format('woff');
}
@font-face {
  font-family: RobotoRegular;
  font-style: normal;
  font-weight: 400;
  src: url('font/roboto-regular.woff') format('woff');
}
@font-face {
  font-family: RobotoRegularItalic;
  font-style: italic;
  font-weight: 400;
  src: url('font/roboto-italic.woff') format('woff');
}
@font-face {
  font-family: SuperSubmarineHalf;
  font-style: normal;
  font-weight: 400;
  src: url('font/super-submarine-half.woff') format('woff');
}
