:root {
  background-color: #000000;
  color: #FFFFFF;
  font-family: RobotoLight, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  user-select: none;
}

html, body {
  height: 100%;
  width: 100%;
}

:focus {
  outline: 0;
}

@media (max-width: 20rem) {
  body {
    font-size: 0.5rem;
  }
}

@media (min-width: 20rem) {
  body {
    font-size: calc(0.5rem + ((1vw - 0.2rem) * 1));
  }
}
