* {
  scrollbar-color: rgba(96, 96, 255, 0.5) #000000;
  scrollbar-width: 1em;
}
::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(96, 96, 255, 0.5);
}
::-webkit-scrollbar-track {
  background-color: #000000;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #FFFFFF;
}
