.c-screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 4em;
  width: 100%;
}
  .c-screen:focus {
    outline: 0;
  }
  .c-screen > * + *,
  .c-screen--field + .c-screen--field,
  .c-screen--fields > * + * {
    margin-top: 1em;
  }
  .c-screen--action + .c-screen--action {
    margin-top: 1em;
  }
  .c-screen--action[hidden] + .c-screen--action {
    margin-top: 0;
  }
  .c-screen--action + .c-screen--action[hidden] + .c-screen--action {
    margin-top: 1em;
  }
  .c-screen--actions {
    list-style-type: none;
  }
  .c-screen--field {
    line-height: 1;
  }
  .c-screen--label {
    display: block;
    margin-bottom: 0.25em;
  }
  .c-screen--scrollable {
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid var(--color-cycle);
    box-shadow: 0 0 0.5em var(--color-cycle-half);
    padding: 0.75em;
    overflow-y: auto;
    scroll-behavior: smooth;
    transition: all 0.25s ease;
    transition-property: background-color, border-color, box-shadow;
  }
  .c-screen--scrollable:hover {
    background-color: rgba(0, 0, 0, 0.925);
    border-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 0.5em var(--color-cycle);
  }
  .c-screen--scrollable:focus-within {
    background-color: rgba(0, 0, 0, 0.925);
    border-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 0.5em var(--color-cycle);
  }
  .c-screen--title {
    font-family: RobotoRegular;
    font-size: 3em;
    font-weight: 400;
    text-shadow: 0 0 calc(0.5em / 3) var(--color-cycle);
  }
