.c-screen {
  align-items: center;
  background-color: #000000;
  display: flex;
  height: 100%;
  padding: 4em;
  width: 100%;
}
  .c-screen > * + * {
    margin-top: 1em;
  }
  .c-screen > * + .c-screen--actions {
    margin-top: 2em;
  }
  .c-screen > .c-screen--title + * {
    margin-top: 2em;
  }
  .c-screen--action + .c-screen--action {
    margin-top: 1em;
  }
  .c-screen--actions {
    list-style-type: none;
  }
  .c-screen--title {
    font-family: RobotoRegular;
    font-size: 2em;
    font-weight: 400;
  }
